{% extends 'base.html' %} {% block title %}Goods List{% endblock %} {% block
content %}
<h1>Goods</h1>
<div class="grid-container">
  {% for good in goods %}
  <div class="grid-item">
    <img src="{{ good.image.url }}" alt="{{ good.name }}" style="width: 100%" />
    <h3>{{ good.name }}</h3>
    <p>{{ good.description }}</p>
    <p>Price: ${{ good.price }}</p>
    <p>Added by: {{ good.user.username }}</p>
    <!-- Display the username -->
  </div>
  {% empty %}
  <p>No goods available.</p>
  {% endfor %}
</div>
{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}
