{% extends 'base.html' %}
{% block title %}Goods List{% endblock %}
{% block content %}
<h1>Goods</h1>
<div class="grid-container">
  {% for good in goods %}
  <div class="grid-item">
    <img src="{{ good.image.url }}" alt="{{ good.name }}" />
    <p>{{ good.user.username }} // {{ good.name }}</p>

    <h3>${{ good.price }}</h3>
  </div>
  {% empty %}
  <p>No goods available.</p>
  {% endfor %}
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}
