{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<h2>Available Goods</h2>
<div class="grid-container">
    <!-- ecommerce/users/templates/users/home.html -->

    {% for good in goods %}
    <div class="grid-item">
        <a href="{% url 'good_detail' good.id %}">
            <img src="{{ good.image.url }}" alt="{{ good.name }}" style="width:100%;">
        </a>

        <h3>${{ good.price }}</h3>
        <p><span style="color:grey;">{{ good.creator.username }}</span> | {{ good.name }}</p>
        {% if request.user == good.creator %}
            <p>
                <a href="{% url 'edit_good' good.id %}">Edit</a> |
                <a href="{% url 'delete_good' good.id %}">Delete</a>
            </p>
        {% endif %}
        <form action="{% url 'cart:cart_add' good.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="quantity" value="1" min="1" max="10">
            <button type="submit">Add to Cart</button>
        </form>
    </div>f
{% endfor %}
</div>
{% endblock %}



